absl-py==2.1.0
accelerate==0.34.2
aiohappyeyeballs==2.4.2
aiohttp==3.10.7
aiosignal==1.3.1
alembic==1.13.3
appdirs==1.4.4
arfpy==0.1.1
async-timeout==4.0.3
attrs==24.2.0
autograd==1.7.0
autograd-gamma==0.5.0
be-great==0.0.7
blis==0.7.11
boto3==1.35.29
botocore==1.35.29
cachetools==5.5.0
catalogue==2.0.10
click==8.1.7
cloudpathlib==0.19.0
cloudpickle==3.0.0
colorlog==6.8.2
compress-pickle==2.1.0
confection==0.1.5
contourpy==1.3.0
copulas==0.11.1
ctgan==0.10.1
cycler==0.12.1
cymem==2.0.8
datasets==3.0.1
decaf-synthetic-data==0.1.6
deepecho==0.6.0
dill==0.3.8
Faker==30.0.0
fastai==2.7.17
fastcore==1.7.10
fastdownload==0.0.7
fastjsonschema==2.20.0
fastprogress==1.0.3
feather-format==0.4.1
fflows==0.0.3
filelock==3.16.1
fonttools==4.54.1
formulaic==1.0.2
frozenlist==1.4.1
fsspec==2024.6.1
geomloss==0.2.6
google-ai-generativelanguage==0.6.10
google-api-core==2.20.0
google-api-python-client==2.147.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.2
googleapis-common-protos==1.65.0
graphviz==0.20.3
grpcio==1.66.1
grpcio-status==1.66.1
h5py==3.12.1
httplib2==0.22.0
huggingface-hub==0.25.1
humanfriendly==10.0
imbalanced-learn==0.12.3
inflate64==1.0.0
interface-meta==1.3.0
ipython-genutils==0.2.0
Jinja2==3.1.4
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keopscore==2.2.3
kiwisolver==1.4.7
langcodes==3.4.1
language_data==1.2.0
lifelines==0.29.0
lightning-utilities==0.11.7
llvmlite==0.43.0
loguru==0.7.2
Mako==1.3.5
marisa-trie==1.2.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
monai==1.3.2
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
multivolumefile==0.2.3
murmurhash==1.0.10
nbformat==4.4.0
networkx==2.8.8
nflows==0.14
numba==0.60.0
numpy==1.26.4
opacus==1.5.2
opt_einsum==3.4.0
optuna==4.0.0
pandas==2.2.3
patsy==0.5.6
pgmpy==0.1.26
pillow==10.4.0
plotly==5.24.1
preshed==3.0.9
proto-plus==1.24.0
protobuf==5.28.2
py7zr==0.22.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybcj==1.0.2
pybind11==2.13.6
pycox==0.3.0
pycryptodomex==3.20.0
pydantic==1.10.18
pykeops==2.2.3
pyparsing==3.1.4
pyppmd==1.1.0
pytorch-lightning==1.9.5
pyts==0.13.0
pytz==2024.2
PyYAML==6.0.2
pyzstd==0.16.1
rdt==1.12.4
redis==5.1.0
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
rich==13.8.1
rpds-py==0.20.0
rsa==4.9
s3transfer==0.10.2
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
sdgym==0.9.1
sdmetrics==0.16.0
sdv==1.16.2
shap==0.46.0
shellingham==1.5.4
slicer==0.0.8
smart-open==7.0.4
spacy==3.7.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.35
srsly==2.4.8
statsmodels==0.14.3
sympy==1.13.3
synthcity==0.2.11
tabulate==0.8.10
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
texttable==1.7.0
thinc==8.2.5
threadpoolctl==3.5.0
tokenizers==0.20.0
torch==2.2.2
torchmetrics==1.4.2
torchtext==0.17.2
torchtuples==0.2.2
torchvision==0.17.2
tqdm==4.66.5
transformers==4.45.1
tsai==0.3.9
typer==0.12.5
tzdata==2024.2
uritemplate==4.1.1
utils==1.0.2
wasabi==1.1.3
weasel==0.4.1
Werkzeug==3.0.4
wrapt==1.16.0
xgboost==2.1.1
xgbse==0.3.1
XlsxWriter==3.2.0
xxhash==3.5.0
yarl==1.13.1
zstandard==0.22.0
